{% extends "default.html" %}
{% set ativo = 'comoparticipar' %}

{% block title %}Como participar{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col text-justify">
      <h1 class="text-uppercase pb-3">Como participar</h1>
      <h2><strong>Veja como participar é fácil:</strong></h2>
      <ul>
        <li>Preencher a ficha de inscrição completa.</li>
        <li>Você pode postar até 05 (cinco) fotos.</li>
        <li>As imagens podem ser capturdas em qualquer dispositivo: câmera analógica ou digital, celular, tablet, etc.</li>
        <li>As fotos devem ser originais.</li>
        <li>Podem ser coloridas ou monocromáticas.</li>
      </ul>

      <h2><strong>Atenção para o que não pode:</strong></h2>
      <ul>
        <li>Imagens editadas ou manipuladas digitalmente.</li>
        <li>Fotos obtidas de bancos de imagens e/ou publicadas previamente.</li>
        <li>Fotos cuja temática estejam em desacordo com o tme do concurso.</li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}
