{% extends "default.html" %}
{% set ativo = 'enviar' %}

{% block title %}Enviar fotos{% endblock %}

{% block head %}
{{ parent() }}
<style type="text/css">
  .photos .row:nth-of-type(odd) {
    background-color: #f3f3f3;
  }
</style>
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
      {% if user['User']['photo'] %}
        <img class="img-fluid img-thumbnail" src="{{ user['User']['photo'] }}" alt="user['User']['full_name']">
      {% else %}
        <img class="img-fluid img-thumbnail" src="imagens/user-icon.png" alt="user['User']['full_name']">
      {% endif %}
    </div>
    <div class="col-12 col-md-10">
      <h1>
        {{ user['User']['full_name'] }}
      </h1>
      <h5>
        {{ user['User']['email'] }}
      </h5>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Enviar nova foto
        </div>
        <div class="card-body">
          {% if total < 5 %}
          <form class="" action="upload.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="titulo">Título da foto</label>
              <input required type="text" class="form-control" name="titulo" id="titulo" aria-describedby="tituloHelp" placeholder="Informe o título da foto">
              <small id="tituloHelp" class="form-text text-muted">Informe um título que descreva sua fotografia.</small>
            </div>
            <div class="form-group">
              <label for="arquivo">Arquivo</label>
              <input required name="arquivo" type="file" class="form-control-file" id="arquivo" accept="image/png, image/jpeg">
            </div>
            <button class="btn btn-success" type="submit">
                Enviar
            </button>
          </form>
          {% else %}
          <div class="alert alert-info" role="alert">
            Você já enviou o limite máximo por participante.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Fotos enviadas: {{ total }} de 5 permitidas
        </div>
        <div class="card-body photos">
          {% if not photos %}
            <h5>Você não enviou nenhuma foto ainda.</h5>
          {% else %}
            {% for photo in photos %}
            <div class="row">
              <div class="col-12 col-md-5 py-2">
                <img class="my-2 img-fluid img-thumbnail" src="photo.php?photo={{ photo.path }}" alt="{{ photo.title }}">
              </div>
              <div class="col-8 col-md-5 py-2 text-justify">
                {{ photo.title }}
              </div>
              <div class="col-4 col-md-2 py-2 text-right">
                <form action="delete.php" method="post" onsubmit="return submitDelete();">
                  <input type="hidden" name="photo" value="{{ photo.id }}">
                  <button class="btn btn-danger" type="submit">
                      Excluir
                  </button>
                </form>
              </div>
            </div>
            {% endfor %}

          {% endif %}
        </div>
        <div class="card-footer">
          * Você pode participar com no máximo 5 fotos.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function submitDelete() {
    let res = confirm("Deseja realmente excluir esta foto?");

    if(res)
      return true;
    else
      return false;

  }
</script>
{% endblock %}
