{% extends "default.html" %}
{% set ativo = 'galeria' %}

{% block title %}Galeria de Fotos{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col text-justify">
      <h1 class="text-uppercase pb-3">Galeria de fotos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2><strong>Edição 2015</strong></h2>
    </div>
  </div>
  <div class="row">


    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg1wUg9wPKO.jpg">
        <img src="galeria/2015/thumb.photo-hg1wUg9wPKO.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0ajoyFqk.jpg">
        <img src="galeria/2015/thumb.photo-hgh0ajoyFqk.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXcJyvk3M8.jpg">
        <img src="galeria/2015/thumb.photo-hfXcJyvk3M8.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UvpIVq0.jpg">
        <img src="galeria/2015/thumb.photo-1J01UvpIVq0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgbire3r0ce.jpg">
        <img src="galeria/2015/thumb.photo-hgbire3r0ce.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IVoKfyw2wW.jpg">
        <img src="galeria/2015/thumb.photo-1IVoKfyw2wW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg1wUgpayA4.jpg">
        <img src="galeria/2015/thumb.photo-hg1wUgpayA4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IZcM0H2iU4.jpg">
        <img src="galeria/2015/thumb.photo-1IZcM0H2iU4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgbirebRzaS.jpg">
        <img src="galeria/2015/thumb.photo-hgbirebRzaS.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0w61Fd2EY.jpg">
        <img src="galeria/2015/thumb.photo-1J0w61Fd2EY.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg7GxqInlM0.jpg">
        <img src="galeria/2015/thumb.photo-hg7GxqInlM0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UvlSK08.jpg">
        <img src="galeria/2015/thumb.photo-1J01UvlSK08.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN00Ju8wY.jpg">
        <img src="galeria/2015/thumb.photo-hfDN00Ju8wY.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFANlray.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFANlray.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBrQ0o0.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBrQ0o0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN0blL7a4.jpg">
        <img src="galeria/2015/thumb.photo-hfDN0blL7a4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFB4t9Ka.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFB4t9Ka.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IXMiCJJ8yW.jpg">
        <img src="galeria/2015/thumb.photo-1IXMiCJJ8yW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXxlcrNwQs.jpg">
        <img src="galeria/2015/thumb.photo-hfXxlcrNwQs.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0w6236w4a.jpg">
        <img src="galeria/2015/thumb.photo-1J0w6236w4a.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBdrQkU.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBdrQkU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBrwhaW.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBrwhaW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UuPUaaU.jpg">
        <img src="galeria/2015/thumb.photo-1J01UuPUaaU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN0aQpeoU.jpg">
        <img src="galeria/2015/thumb.photo-hfDN0aQpeoU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0j6YUJHyy.jpg">
        <img src="galeria/2015/thumb.photo-hg0j6YUJHyy.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0ajdyb6k.jpg">
        <img src="galeria/2015/thumb.photo-hgh0ajdyb6k.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0aiU3q8K.jpg">
        <img src="galeria/2015/thumb.photo-hgh0aiU3q8K.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg5aYd3qVOa.jpg">
        <img src="galeria/2015/thumb.photo-hg5aYd3qVOa.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXKv2vuO4u.jpg">
        <img src="galeria/2015/thumb.photo-hfXKv2vuO4u.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0pCOmm1Gy.jpg">
        <img src="galeria/2015/thumb.photo-1J0pCOmm1Gy.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
{% endblock %}
