{% extends "default.html" %}
{% set ativo = 'galeria' %}

{% block title %}Galeria de Fotos{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col text-justify">
      <h1 class="text-uppercase pb-3">Galeria de fotos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><strong>Edição 2018</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/9_1e1ccf8cee2dc63e6ca9a76f38264f43.jpg">
        <img src="galeria/2018/thumb.9_1e1ccf8cee2dc63e6ca9a76f38264f43.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/9_97d80653adb9a47120c02a4e711beb91.jpg">
        <img src="galeria/2018/thumb.9_97d80653adb9a47120c02a4e711beb91.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/10_2bc5d65bf0960cea3f76eac6b8ccb888.jpg">
        <img src="galeria/2018/thumb.10_2bc5d65bf0960cea3f76eac6b8ccb888.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/10_58b51e3f97b83185adffcdf2841a7ce1.jpg">
        <img src="galeria/2018/thumb.10_58b51e3f97b83185adffcdf2841a7ce1.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/10_6733c924225935e6a08d55381b1f61ab.jpg">
        <img src="galeria/2018/thumb.10_6733c924225935e6a08d55381b1f61ab.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/10_7772a84e85e6eb812057ff436a2ef51b.jpg">
        <img src="galeria/2018/thumb.10_7772a84e85e6eb812057ff436a2ef51b.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/13_19fea770db669a2b7abfbce38557deb7.jpg">
        <img src="galeria/2018/thumb.13_19fea770db669a2b7abfbce38557deb7.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/13_c0196d410c59d16d5d91520f2a18667b.jpg">
        <img src="galeria/2018/thumb.13_c0196d410c59d16d5d91520f2a18667b.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/13_f440f4f6494d28816c0fa594c4489da8.jpg">
        <img src="galeria/2018/thumb.13_f440f4f6494d28816c0fa594c4489da8.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>


    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/18_ea8ca607048c861be09a7029a4059b5a.jpg">
        <img src="galeria/2018/thumb.18_ea8ca607048c861be09a7029a4059b5a.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/19_02a3a52a7fa79300747e6144de99cca5.jpg">
        <img src="galeria/2018/thumb.19_02a3a52a7fa79300747e6144de99cca5.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/21_f4d70ae5a0b2ae5be1c8af43507c3041.jpeg">
        <img src="galeria/2018/thumb.21_f4d70ae5a0b2ae5be1c8af43507c3041.jpeg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/22_5d0928d995b0cfaa8e01fbcc57c0038c.jpg">
        <img src="galeria/2018/thumb.22_5d0928d995b0cfaa8e01fbcc57c0038c.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/22_88d29da61cbe12a8cb7c6625579bc321.jpg">
        <img src="galeria/2018/thumb.22_88d29da61cbe12a8cb7c6625579bc321.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/22_e76d51147eb7a69ed80dc7629411b39c.jpg">
        <img src="galeria/2018/thumb.22_e76d51147eb7a69ed80dc7629411b39c.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/18_001c03aed19d65c360d8a87584d493ad.jpg">
        <img src="galeria/2018/thumb.18_001c03aed19d65c360d8a87584d493ad.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/17_651ad8d51843146f6f4e207e2fd2d1d3.jpg">
        <img src="galeria/2018/thumb.17_651ad8d51843146f6f4e207e2fd2d1d3.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery2018" href="galeria/2018/19_939d771fd812d3e5f52d43d79c937259.jpg">
        <img src="galeria/2018/thumb.19_939d771fd812d3e5f52d43d79c937259.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2><strong>Edição 2015</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg1wUg9wPKO.jpg">
        <img src="galeria/2015/thumb.photo-hg1wUg9wPKO.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0ajoyFqk.jpg">
        <img src="galeria/2015/thumb.photo-hgh0ajoyFqk.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXcJyvk3M8.jpg">
        <img src="galeria/2015/thumb.photo-hfXcJyvk3M8.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UvpIVq0.jpg">
        <img src="galeria/2015/thumb.photo-1J01UvpIVq0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgbire3r0ce.jpg">
        <img src="galeria/2015/thumb.photo-hgbire3r0ce.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IVoKfyw2wW.jpg">
        <img src="galeria/2015/thumb.photo-1IVoKfyw2wW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg1wUgpayA4.jpg">
        <img src="galeria/2015/thumb.photo-hg1wUgpayA4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IZcM0H2iU4.jpg">
        <img src="galeria/2015/thumb.photo-1IZcM0H2iU4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgbirebRzaS.jpg">
        <img src="galeria/2015/thumb.photo-hgbirebRzaS.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0w61Fd2EY.jpg">
        <img src="galeria/2015/thumb.photo-1J0w61Fd2EY.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg7GxqInlM0.jpg">
        <img src="galeria/2015/thumb.photo-hg7GxqInlM0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UvlSK08.jpg">
        <img src="galeria/2015/thumb.photo-1J01UvlSK08.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN00Ju8wY.jpg">
        <img src="galeria/2015/thumb.photo-hfDN00Ju8wY.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFANlray.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFANlray.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBrQ0o0.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBrQ0o0.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN0blL7a4.jpg">
        <img src="galeria/2015/thumb.photo-hfDN0blL7a4.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFB4t9Ka.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFB4t9Ka.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1IXMiCJJ8yW.jpg">
        <img src="galeria/2015/thumb.photo-1IXMiCJJ8yW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXxlcrNwQs.jpg">
        <img src="galeria/2015/thumb.photo-hfXxlcrNwQs.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0w6236w4a.jpg">
        <img src="galeria/2015/thumb.photo-1J0w6236w4a.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBdrQkU.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBdrQkU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0fFBrwhaW.jpg">
        <img src="galeria/2015/thumb.photo-hg0fFBrwhaW.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J01UuPUaaU.jpg">
        <img src="galeria/2015/thumb.photo-1J01UuPUaaU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfDN0aQpeoU.jpg">
        <img src="galeria/2015/thumb.photo-hfDN0aQpeoU.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg0j6YUJHyy.jpg">
        <img src="galeria/2015/thumb.photo-hg0j6YUJHyy.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0ajdyb6k.jpg">
        <img src="galeria/2015/thumb.photo-hgh0ajdyb6k.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hgh0aiU3q8K.jpg">
        <img src="galeria/2015/thumb.photo-hgh0aiU3q8K.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hg5aYd3qVOa.jpg">
        <img src="galeria/2015/thumb.photo-hg5aYd3qVOa.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-hfXKv2vuO4u.jpg">
        <img src="galeria/2015/thumb.photo-hfXKv2vuO4u.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>
    <div class="col-12 col-md col-sm-6 col-md-4 col-lg-3 py-2 text-center">
      <a data-fancybox="gallery" href="galeria/2015/photo-1J0pCOmm1Gy.jpg">
        <img src="galeria/2015/thumb.photo-1J0pCOmm1Gy.jpg" class="img-fluid img-thumbnail">
      </a>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
{% endblock %}
