{% extends "default.html" %}
{% set ativo = 'regulamento' %}

{% block title %}Regulamento{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col text-justify">
      <h1 class="text-uppercase pb-3">Regulamento do concurso de fotografias em homenagem ao aniversário do município de Jandaia do Sul</h1>
      <ol>
        <li>DA REALIZAÇÃO
          <ol>
            <li>O Concurso de Fotografias, doravante denominado CONCURSO, é um concurso cultural e artístico promovido pela Universidade Federal do Paraná em parceria com a Prefeitura Municipal de Jandaia do Sul (PR).</li>
            <li>O tema do CONCURSO é: Cenas da Cidade.</li>
            <li>O Concurso consiste no envio de fotos abrangendo o tema acima e conforme estabelecido neste Regulamento a seguir.</li>
          </ol>
        </li>
        <li>DA APRESENTAÇÃO
          <ol>
            <li>O CONCURSO é destinado a todo e qualquer fotógrafo, pessoa física, maior de 18 anos, que vive ou trabalha em Jandaia do Sul. As fotografias devem, obrigatoriamente, ter sido capturadas em Jandaia do Sul.</li>
            <li>É vetada a participação no CONCURSO de qualquer funcionário ou parente, até o terceiro grau, dos membros da Comissão de Organização, Comissão de premiação ou Patrocinadores, bem como quaisquer pessoas envolvidas diretamente na execução do concurso, em especial os colaboradores.</li>
            <li>É vetada a inscrição de fotos já premiadas em outros concursos. A responsabilidade pela veracidade das informações fornecidas por ocasião da inscrição no CONCURSO recai sobre os participantes, que responderão isoladamente em caso de quaisquer questionamentos, sejam da organização desta promoção ou de terceiros.</li>
          </ol>
        </li>
        <li>DAS INSCRIÇÕES
          <ol>
            <li>As inscrições para a participação no CONCURSO são gratuitas e terão início no dia <strong>27 de agosto de 2018</strong>, encerrando-se no dia <strong>22 de setembro de 2018</strong>, às 18:00 horas (dezoito horas), horário de Brasília.</li>
            <li>Após o preenchimento online da ficha de inscrição, e da adesão a este Regulamento, o participante deverá enviar (via site ora descrito: <a href="http://www.valedaciencia.ufpr.br/cenasdacidade" target="_blank">http://www.valedaciencia.ufpr.br/cenasdacidade</a>), através de “upload”, até 05 (cinco) fotografias coloridas ou preto e branco, e obtidas por meio de equipamento analógico (câmera de qualquer formato, pinhole ou outra técnica) ou digital. O tema das fotografias deve ser estritamente o proposto no item 1.2.</li>
            <li>Para participar, é indispensável a identificação completa de autoria do trabalho na ficha de inscrição disponível no site. A organização do evento não se responsabiliza pelo uso de imagem das pessoas fotografadas (se houver), cabendo exclusivamente ao autor da fotografia obter as autorizações para uso de imagem das pessoas eventualmente retratadas na forma do presente, bem como responder pelas implicações legais em caso de questionamentos judiciais ou extrajudiciais.</li>
            <li>Ao se inscrever, o participante autoriza a veiculação da(s) fotografia(s), bem como permissão para os organizadores, a critério próprio, sem limite de tempo e sem a incidência de quaisquer ônus, utilizarem ou divulgarem as imagens inscritas e/ou escolhidas no Concurso em materiais publicitários, entre os quais: cartazes; banners; folders; portfólios; websites ou homepages; televisão aberta ou fechada; revistas; jornais; flyers; outdoors; exposições e eventos institucionais, desde que esses usos não tenham finalidade comercial.</li>
            <li>As imagens eventualmente selecionadas para divulgação pública serão publicadas mediante o uso de licença Creative Commons, em versão de uso não comercial.</li>
            <li>Não serão aceitas fotografias:
              <ol>
                <li>Com imagens compostas, sobrepostas e/ou imagens manipuladas digitalmente, ou com qualquer outro artifício;</li>
                <li>Que não tenham sido capturadas em Jandaia do Sul;</li>
                <li>Que já tenham sido publicadas, exibidas em público ou que tenham recebido algum prêmio e/ou não sejam de autoria do inscrito.</li>
              </ol>
            </li>
            <li>Documentos necessários para inscrição
              <ol>
                <li>Formulário online de inscrição, disponível no site <a href="http://www.valedaciencia.ufpr.br/cenasdacidade" target="_blank">http://www.valedaciencia.ufpr.br/cenasdacidade</a>.</li>
                <li>Anexar, no local indicado no próprio site, até 05 (cinco) fotografias, de uma série, resolução mínima de 300 dpi e em formato JPG.</li>
                <li>O participante receberá a confirmação de sua inscrição online, no próprio site.</li>
                <li>O preenchimento incorreto e/ ou incompleto da ficha de inscrição, é de responsabilidade do participante e implicará na sua desclassificação a critério da organização do CONCURSO.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>DO RESULTADO E PREMIAÇÃO
          <ol>
            <li>Entre as fotografias inscritas, serão selecionadas 15 (quinze) fotografias para exposição pública, as quais estarão elegíveis à premiação por votação popular durante a exposição e por meio das redes sociais.</li>
            <li>A essa seleção não cabe recurso por parte dos participantes.</li>
            <li>O resultado oficial será divulgado, a partir do dia <strong>29 de outubro de 2018</strong> e estará disponível no site <a href="http://www.valedaciencia.ufpr.br/cenasdacidade" target="_blank">http://www.valedaciencia.ufpr.br/cenasdacidade</a>.</li>
            <li>Receberão prêmios especialmente cedidos pelos patrocinadores do evento, a foto mais votada pela comunidade durante a exposição e a foto mais curtida no perfil oficial do evento nas redes sociais.</li>
            <li>O prêmio é intransferível, não cabendo a substituição do contemplado por outra pessoa. Este deverá se identificar através do seu documento de identidade, conforme preenchido no formulário.</li>
          </ol>
        </li>
        <li>DISPOSIÇÕES GERAIS
          <ol>
            <li>Cada participante deverá concorrer com um único projeto de até 05 (cinco) fotos.</li>
            <li>Ao efetuar sua inscrição, os participantes estarão concordando tacitamente com todas as normas contidas no presente Regulamento, inclusive com o compromisso de envio de todos os documentos a ele inerentes.</li>
            <li>O não-cumprimento de qualquer cláusula ou disposição deste Regulamento pelo inscrito determinará sua desclassificação e de sua(s) fotografia(s).</li>
            <li>Tendo em vista as características inerentes ao ambiente da internet, os Organizadores do CONCURSO não têm como garantir que o acesso ao referido site, inclusive ao CONCURSO nele veiculado, esteja livre de invasões, interrupções ou suspensões, ocasionadas por casos fortuitos, internos ou externos, casos de força maior ou por outros casos não inteiramente sujeitos ao seu controle, eximindo os organizadores do CONCURSO de qualquer responsabilidade proveniente de tais fatos e/ ou atos.</li>
            <li>Serão automaticamente desclassificados do CONCURSO os participantes que tentarem desrespeitar qualquer um dos itens deste regulamento, ou ainda, utilizarem quaisquer meios ilícitos para obter benefício próprio ou para terceiros.</li>
            <li>Este CONCURSO é exclusivamente cultural/artístico, sem qualquer modalidade de sorte ou pagamento pelos participantes, nem vinculação destes ou dos vencedores à aquisição ou uso de qualquer bem, direito ou serviço. </li>
            <li>Os casos omissos não previstos neste Regulamento serão analisados e decididos pelos Organizadores, e as eventuais dúvidas poderão ser esclarecidas pela organização do evento, através de contato via site.</li>
          </ol>
        </li>
      </ol>
      <p class="text-right">Jandaia do Sul, Paraná, 23 de agosto de 2018.</p>
      <p class="text-right">COMISSÃO ORGANIZADORA DO CONCURSO DE FOTOGRAFIA "CENAS DA CIDADE"</p>
    </div>
  </div>
</div>
{% endblock %}
